@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

@mixin bd-color ($color) {
  border-color: $color;
}

@mixin size($width:auto, $height:$width) {
  height: $height;
  width: $width;
}

@mixin position($position:absolute, $left:auto, $top:auto, $right:auto, $bottom:auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin borderline($color:white) {
  color: $color;
  border-bottom: solid;
}

