body, html {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  color: #ffffff;
  font: 800 70px/1 'Montserrat', sans-serif;
  margin: 0;
}
.h1 {font: 800 70px/1 'Montserrat', sans-serif;}
.magenta {color: #a066c9;}

h2 {
  color: #0d113d;
  font: 600 33px/26px 'Montserrat', sans-serif;
  margin: 0;
}

h3 {
  color: #0d113d;
  font: 600 26px/1 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.top-screen {
  background: url(../img/head-bg.jpg) 50%/cover no-repeat;
}
.header {
  padding-top: 45px;
  padding-bottom: 45px;
}
.header ul {
  font-size: 0;
  padding-top: 10px;
  padding-bottom: 10px;

}

.header li {
  color: #fff;
  display: inline-block;
  line-height: 1;
  margin-right: 20px;
}
.header li:last-child {margin-right: 0;}


.header li a {
  color: inherit;
  font: 400 15px/26px 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.header li.active,
.header li:hover {
  color: #753d9d;
}

.pic-block {
  display: inline-flex;
  align-items: center;
  padding: 65px 0 25px 0;
}
.pic-block h3{
  padding-left: 20px;
}
.weare-block2 p{
  padding-bottom: 65px;
}

.mobile-block {
  background-image: url(../img/learn-pic.jpg);
  height: 380px;
  text-align: center;
}
.mobile h2{
  padding-top: 115px;
}
.mobile .button{
  margin-top: 80px;
}
.mobile-block .button {
  border: 3px solid #753d9d;
  background-color: #753d9d;
  color: #fff;
}
.mobile-block .button:focus, .button:hover{
  border: 3px solid #fff;
  color: #fff;
}

.page-title {
  padding: 185px 0 65px;
}
.page-title h1 {
  display: inline-block;
}
.page-title p {
  color: #fff;
  margin: 40px 0 55px;
}

.btns-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 555px;
}
.btns-holder .bordered-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 262px;
  max-width: 262px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  height: 65px;
  text-transform: uppercase;
}
.bordered-btn.white-btn {
  //@include clearfix;
  //@include size($height, 50px);
  border-color: #ffffff;
  color: #ffffff;
  transition: background-color ease-in-out 0.2s, border-color ease-in-out 0.2s;
}
.bordered-btn.white-btn:hover {
  background-color: #753d9d;
  border-color: transparent;
}
.h1-holder {
  text-align: center;
}

.padding-border {
  border-bottom: 3px solid #e0e0e0;
  padding: 70px 0;
}
.bordered {
  padding: 8px 0 8px 18px;
  position: relative;
}

.bordered:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: #753d9d;
  border-radius: 1px;
}

.magenta-bg {
  background-color: #753d9d;
}

.flex-row {display: flex;}
.flex-row.align-center {align-items: center;}
.flex-row.justify-between {justify-content: space-between;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  color: #0d113d;
  font: 300 15px/26px 'Montserrat', sans-serif;
  margin: 0;
}
span {display: inline-block;}
a {
  color: #fff;
  transition: color ease-in-out 0.2s;
}


.my-btn {
  background-color: #753d9d;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font: 400 18px/1 'Montserrat', sans-serif;
  padding: 18px 15px;
  text-align: center;
  text-transform: uppercase;
  width: 262px;
}

.my-btn.bordered-btn {
  background-color: transparent;
  border: 2px solid transparent;
}
.my-btn.white-bd {
  border-color: #ffffff;
}
.my-btn.magenta-bd {
  color: #0d113d;
  border-color: #0d113d;
}

//----------------------------------------------

.contact-area {
  width: 100%;
  height: 562px;
  margin-top: 104px;
}

.contact-area p,
.contact-area h3 {
  text-align: center;
}

.contact-area img {
  text-align: center;
}

.pic-block-contact,
.pic-block2-contact {
  text-align: center;
}

.pic-block2-contact img {
  margin-top: 21px;
  margin-bottom: 13px;
}

.map-wrapper {
  //position: absolute;
}

.map {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 440px;
}

//about.html------------------------------------------------------

.smallone {
  height: 2000px;
}

//stickyHeader------------------------------------------------------

.sticky-header {
  width: 100%;
}

.stickyHead {
  text-align: center;
  background-color: #00DD00;
  font-size: medium;
  height: 80px;

}

.blackPart {
  background-color: #0a0a0a;
  height: 60px;
  padding: 50px 0;
  width: 100%;
  transition: 1s ease-in-out;
  &.is-stuck {
    height: 50px;
  }
}

//accordion---------------------------------------------------------