.top-screen {
  background: url(..assets/img/head-bg.jpg) 50%/cover no-repeat;
}

.header {
  padding-top: 45px;
  padding-bottom: 45px;
}

.header ul {
  font-size: 0;
  padding-top: 10px;
  padding-bottom: 10px;

}

.header li {
  color: #fff;
  display: inline-block;
  line-height: 1;
  margin-right: 20px;
}
.header li:last-child {margin-right: 0;}

.header li a {
  color: inherit;
  font: 400 15px/26px 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.header li.active,
.header li:hover {
  color: #753d9d;
}

